{% extends 'base.html.twig' %}

{% block title %}All wishes{% endblock %}

{% block body %}
    <section>
        <h2>All wishes (page #{{ currentPage }})</h2>

        {% if currentPage > 1 %}
        <a href="{{ path('wish_list', {'page': currentPage-1}) }}">Previous page</a>
        {% endif %}

        {% if (currentPage * 20) < totalResultCount %}
        <a href="{{ path('wish_list', {'page': currentPage+1}) }}">Next page</a>
        {% endif %}

        <div class="wish-list">
        {% for wish in wishes %}

            <article>
                <a href="{{ path('wish_detail', {id: wish.id}) }}">{{ wish.title }} [{{ wish.category.name }}]</a>
            </article>

        {% else %}
            <div>Nothing to see here!</div>
        {% endfor %}
        </div>
    </section>
{% endblock %}
