<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0">
    <title>{% block title %}Bucket-List{% endblock %}</title>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{{ asset('css/normalize.css') }}">
    <link rel="stylesheet" href="{{ asset('css/app.css') }}">

    <link rel="icon" type="image/png" href="{{ asset('img/favicon.png') }}">
</head>
<body>
<header>
    <div class="container">
        <div class="site-title">
            <a href="{{ path('main_home') }}">
                <img class="logo" src="{{ asset('img/logo.png') }}" alt="Bucket-List">
            </a>
        </div>

        <nav>
            <a href="{{ path('main_about_us') }}">About us</a>
            <a href="{{ path('wish_list') }}">All wishes</a>
            <a href="{{ path('main_test') }}">Test</a>
            <a href="{{ path('wish_create') }}">Add a wish</a>
        </nav>
    </div>
</header>

{% for label, messages in app.flashes %}
    {% for message in messages %}
        <div class="alert alert-{{ label }}">
            {{ message }}
        </div>
    {% endfor %}
{% endfor %}

<main>
    <div class="container">
        {% block body %}{% endblock %}
    </div>
</main>

<footer>
    <div class="container">
        &copy; Bucket-List {{ "now"|date("Y") }}
    </div>
</footer>
</body>
</html>